/Movies-TVShows-Android-App-master/.idea
/Movies-TVShows-Android-App-master/.gradle/2.14.1/taskArtifacts/*.properties
/Movies-TVShows-Android-App-master/.gradle/2.14.1/taskArtifacts/*.lock
/Movies-TVShows-Android-App-master/.gradle/2.14.1/taskArtifacts/*.bin
/Movies-TVShows-Android-App-master/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/*.bin
/Movies-TVShows-Android-App-master/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/*.lock
/Movies-TVShows-Android-App-master/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/*.bin
/Movies-TVShows-Android-App-master/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/*.lock
/Movies-TVShows-Android-App-master/.gradle/3.5/file-changes/*.bin
/Movies-TVShows-Android-App-master/.gradle/3.5/fileContent/*.bin
/Movies-TVShows-Android-App-master/.gradle/3.5/fileContent/*.lock
/Movies-TVShows-Android-App-master/.gradle/3.5/javaCompile/*.lock
/Movies-TVShows-Android-App-master/.gradle/3.5/taskHistory/*.bin
/Movies-TVShows-Android-App-master/.gradle/3.5/taskHistory/*.lock
/Movies-TVShows-Android-App-master/.gradle/4.1/fileChanges/*.bin
/Movies-TVShows-Android-App-master/.gradle/4.1/fileContent/*.lock
/Movies-TVShows-Android-App-master/.gradle/4.1/fileHashes/*.bin
/Movies-TVShows-Android-App-master/.gradle/4.1/fileHashes/*.lock
/Movies-TVShows-Android-App-master/.gradle/4.1/javaCompile/*.bin
/Movies-TVShows-Android-App-master/.gradle/4.1/javaCompile/*.lock
/Movies-TVShows-Android-App-master/.gradle/4.1/taskHistory/*.bin
/Movies-TVShows-Android-App-master/.gradle/4.1/taskHistory/*.lock
/Movies-TVShows-Android-App-master/.gradle/buildOutputCleanup/*.bin
/Movies-TVShows-Android-App-master/.gradle/buildOutputCleanup/*.properties
/Movies-TVShows-Android-App-master/.gradle/buildOutputCleanup/*.lock
